:root {
  --header-bg-color: #3b424280;
  --nav-text-color: #eee;
  --main-icon-color: #3b4242;
  --button-color-vedios: #eb2027;
  --navigation-button-background: #252a2a;
  --user-card-color: #a1a1a1;
  --red-500: #eb2027;
  --map-numbers-count: #eee;
  --map-text-color: #d4d4d4;
  --map-counting: #6c6c6c;
  --subscripe-card-color: #000;
  --home-subscribe-title-color: #f3f1f1;
  --subscribe-card-yearly-text-color: #eee;
  --footer-background-color: #1b1f1f;
  --footer-upper-title-color: #a1a1a1;
  --footer-app-upper-bg-color: #141717;
}
